<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.he.android.demo" android:versionCode="1"
	android:versionName="1.0.0">
	<application android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity android:name=".ActivityMain"
			android:label="ActivityMain，程序主界面">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ActivityLayout"
			android:label="演示混合Layout布局">
		</activity>
		<activity android:name=".ActivityRelativeLayout"
			android:label="演示RelativeLayout布局">
		</activity>
		<activity android:name=".ActivityFrameLayout"
			android:label="非洲地图">
		</activity>

		<activity android:name=".ActivityTableLayout"
			android:label="TableLayout布局">
		</activity>

		<activity android:name=".EditeTextActivity"
			android:label="编辑框 ">
		</activity>
		
		<activity android:name=".CheckBoxActivity"
			android:label="复选框 ">
		</activity>
		
		<activity android:name=".RadioGroupActivity"
			android:label="单选框 ">
		</activity>
		
		<activity android:name=".SpinnerActivity"
			android:label="下拉列表框 ">
		</activity>
		
		<activity android:name=".AutoCompleteActivity"
			android:label="自动补全">
		</activity>
		
		<activity android:name=".DatePickerActivity"
			android:label="日期控件">
		</activity>
		
		<activity android:name=".TimePickerActivity"
			android:label="时间控件">
		</activity>
		
		<activity android:name=".ProgressBarActivity"
			android:label="进度条">
		</activity>
		
		<activity android:name=".RateBarActivity"
			android:label="投票控件">
		</activity>
	</application>
</manifest>
