
.enter {height: 543px;width: 1024px;margin-right: auto;margin-left: auto;background-color: #FFFFFF;}
.enterbg {height: 349px;width: 723px;margin-top: 97px;margin-right: auto;margin-left: auto;background-image: url(../images/denglu_01.gif);background-repeat: no-repeat;}
.enternr {height: 170px;padding-top: 160px;padding-left: 345px;}
.enteruser {height: 30px;line-height: 30px;text-align: left;font-size: 14px;color: #CC0000;font-weight: bolder;}
.enteruser li {float: left;width: 80px;height: 30px;}
.enteruser input {background-image: url(../images/denglu_05.gif);background-repeat: no-repeat;height: 22px;width: 200px;float: left;padding-top: 7px;padding-left: 10px; border: 0px;}
.enterPassword {line-height: 30px;height: 30px;text-align: left;font-size: 14px;font-weight: bolder;color: #D00F0F;margin-top: 5px;}
.enterPassword li {float: left;height: 30px;width: 80px;}
.enterPassword input {background-image: url(../images/denglu_05.gif);background-repeat: no-repeat;height: 22px;width: 200px;padding-top: 7px;padding-left: 10px;border: 0px;float: left;}
.enteryazheng {font-size: 15px;font-weight: bolder;color: #C50008;height: 30px;margin-top: 5px;text-align: left;float: left;width: 300px;}
.enteryazheng li {float: left;height: 30px;width: 80px;}
.enteryazheng input {background-image: url(../images/denglu_06.gif);background-repeat: no-repeat;float: left;height: 20px;width: 130px;padding-top: 6px;padding-left: 10px;border: 0px;}
.enteryawz {font-weight: bolder;color: #C50008;margin-top: 5px;text-align: center;float: left;width: 300px;}
.enterbutton {height: 27px;margin-top: 10px;line-height: 27px;width: 282px;float: left;text-align: right;}
.enterbutton input {background-image: url(../images/denglu_03.gif);background-repeat: no-repeat;height: 27px;width: 92px;border:0px;font-size: 15px;font-weight: bolder;color: #FFFFFF;}
.cnttop {background-color: #246050;height: 80px;width: 1000px;margin-right: auto;margin-left: auto;font-size: 30px;font-weight: bold;padding-top: 20px;color: #FFFFFF;}
.cntmain {width: 1000px;margin-right: auto;margin-left: auto;}
.cntleft {float: left;width: 150px;text-align: left;}
.cntright {float: left;width: 788px;}
.denglu {line-height: 30px;background-color: #88cdf4;height: 30px;color: #FFFFFF;text-align: right;padding-right: 100px;}
.denglu a:link {color: #FFFFFF;text-decoration: underline;}
.denglu a:hover {color: #990000;}
tr {line-height: 28px;}
td {text-align: left;}
.cntright table {margin-bottom:20px;border-right:1px solid #5A938C;border-bottom:1px solid #5A938C;border-left:1px solid #5A938C;}
.cntright tr {text-indent: 10px;}
.cntright td {border-right: 1px solid #5A938C;border-top: 1px solid #5A938C;}
.cntproright {float:left;height:auto;width: 1100px;border:1px solid #4D867D;margin:0px 0px 0px 5px;padding:0px; }
.cntprotitle {background-color: #ADEEF3;text-indent: 10px;height: 25px;text-align: left;margin-bottom:10px;line-height:25px;width:1090px;}
.cntprotitle li {float: left;}
.cntpronav {height: 17px;padding-top: 8px;padding-right: 20px;text-align: right;}
.cntprochoose {text-align: left;height: 30px;padding-left: 10px; width:1090px; float:left;}
.cntprolist-table {border-bottom:1px solid #4D867D;float: left;}
.cntprolist-table th {border-top:1px solid #4D867D;border-right:1px solid #4D867D;}
.cntprolist-table td {text-align: center;border-top:1px solid #4D897D;border-right:1px solid #4D897D;}
.input {height: 25px;width: 20px;display: inline;}
.input input {display: inline;}
.cntprolistbot {height: 25px; width:1080px;padding-right:20px;text-align: right;line-height: 25px;float: left;margin:10px 0px;}
.cntprollistnav {height: 25px;line-height: 25px;}
.cntproAdd-nav {height:25px; width:1100px; text-indent:10px;line-height: 25px;background-color: #137780;text-align: left;color: #FFFFFF;}
.cntproAdd-nav a:link {text-decoration: underline;color: #FFFFFF;}
.cntproAdd-nav a:visited {color: #FFFFFF;text-decoration: underline;}
.cntproAdd-nav a:hover {color: #E4D22C;text-decoration: underline;}
.cntproAdd-nav a:active {font-weight: bold;color: #FFFFFF;text-decoration: underline;}
.cntpropica{height:auto;}
.cntpropic {height: auto;}
.cntpropic li {float: left;height: 150px;width: 120px;border: 1px solid #333333;margin-top: 15px;margin-right: 30px;margin-left: 30px;line-height: 30px; }
.cntpropicdelbut {height: 30px;width:1100px;float: left;}
.cntpropicdelbut li {line-height: 30px;float: left;height: 30px;width: 120px;margin-right: 30px;margin-left: 30px;}
.cntpropicbut {width:1100px;float: left;height: 30px;line-height: 30px;text-align: left;text-indent: 15px;}
.cntpropicbut1 {line-height: 30px;height: 30px;float: left;width: 700px;text-align: center; padding-right:400px;}
.cntprocontact {line-height: 30px;float: left;height: 30px;width:1100px;text-align: left;text-indent: 15px;}
.cntprocontnr {float: left;height: 260px;width: 866px;padding-left: 20px;padding-top: 15px;}
.cntprocontnr li {float: left;width: 268px;margin-right: 20px;height: 190px;margin-top: 10px;text-align: center;}
#cntprocontactbt1 {height: 22px;padding-top: 8px;font-weight: bold;color: #000000;}
#allborder {border: 1px solid #999999;}
.productopera {width: 30px;margin-top: 5px;line-height: 20px;font-weight: bold;text-align: center;display: block;}
.cntproTraSort {height: 50px;width: 786px;float: left;line-height: 50px;font-weight: bold;text-align: left;text-indent: 50px;}
.cntproductAttrib {height: 30px;line-height: 30px;text-align: left;width: 766px;padding-left: 20px;}
.cntproductAttrib li {float: left;width: 350px;}
.cntproNewsort {width: 786px;line-height: 30px;}
.cntproNewsort th {text-align: right;}
.cntproSet {height: 40px;width: 786px;float: left;border-bottom:1px solid #333333;}
.cntproSet li {float: left;width: 380px;margin-right: 5px;height: 27px;padding-top: 12px;}
.cntproSet1 {float: left;height: 39px;width: 786px;border-bottom: 1px solid #333333;}
.cntproSet1 li {float: left;height: 27px;width: 250px;padding-top: 12px;}
.productSet {float: left;width: 786px;}
.proSetDaiXuan {float: left;height: 230px;width: 786px;margin-bottom: 10px;}
.proSetchoose {float: left;height: 190px;width: 195px;padding-top: 10px;font-weight: bold;}
.proSetchoose1 {float: left;height: 230px;width: 590px;}
.proSetchoose1 li {float: left;margin-right: 6px;height: 25px;text-align: left;line-height: 25px;margin-top: 5px;}
.productSetbut {float: left;height: 26px;width: 490px;line-height: 26px;text-align: right;padding-right: 100px;margin-top: 4px;}
.productSettable {float: inherit;width: 700px;background-color: #CDF3F5;border: 1px solid #999999;margin-bottom: 20px;}
.productSettable td {text-align: center;}
.productSettable input {border: 1px solid #666666;}
.productSettable1 {float: left;}
.bottonstyle {display: block;text-align: center;}
.bottonstyle input{ width:45px;}
.cntproTratoSort {height: 85px;padding-top: 15px;font-size: 14px;font-weight: bold;}
.cntproTratoSort li {line-height: 30px;height: 30px;padding-top: 10px;}
.tableborder {border: 0px;}
.User-orderlistbt {width:1080px;text-align: left;padding-left: 20px;float: left;line-height: 25px;height: 25px;}
.User-orderlistchoose {float: left;height: 30px;width: 1080px;line-height: 30px;text-align: left;padding-left: 20px;}
.User-orderlistchoose li {float: left;width: 190px;}
.User-orderlistchoose select {width: 120px;}
.User-orderlist {float: left;width: 1100px;heiht: auto;height: auto;}
.User-orderlist table {width: 1100px;border-top:1px solid #666666;border-right: 1px solid #666666;border-left: 1px solid #666666;color: #000000;}
.User-orderlist th {background-color: #CCCCCC;border-bottom: 1px solid #666666;}
.User-orderlist td {text-align: center;border-bottom: 1px solid #666666;text-indent: 5px;color: #000000;}
.User-orderlist table .oderdetail_td{text-align:left;}
.User-orderlist table .td_m{text-align:right;padding-right:30px;}
.User-orderInfobt {line-height: 40px;height: 40px;width: 1070px;float: left;text-align: right;padding-right: 30px;}
.User-orderInfobt span{ float:left; width:50px;text-align: left;}
.UserAddchoose {float: left;}
.UserAddchoose th {background-color: #2CBDC0;}
.UserAddchoose td {text-indent: 10px;line-height: 30px;}
.user-tr {background-color: #D1D1D1;}
.User-orderbot {float: left;height: 30px;width:1100px;line-height: 30px;margin-top: 10px;}
.Usertable {margin-top: 10px;border-top: 1px solid #325651;}
.Usertable th {background-color: #CCCCCC;border-bottom: 1px solid #325651;}
.Usertable td {text-align: center;border-bottom: 1px solid #325651;}
.User-memberbt {height: 30px;width: 1100px;margin-top: 10px;margin-bottom: 10px;background-color: #CCCCCC;line-height: 30px;text-align: left;padding-left: 15px;border: 1px solid #325651;}
.User-js {display:block;position:relative;margin-top: 10px;margin-right: auto;margin-bottom: 10px;margin-left: auto;
}
.jsyq {PADDING-RIGHT: 0px;PADDING-BOTTOM: 1px;PADDING-TOP: 5px;FONT-SIZE: 14px;WIDTH: 120px;font-weight:bold;CURSOR: pointer;COLOR: #BF2B2B;LINE-HEIGHT: 14px;MARGIN-RIGHT: 3px;float: left;background-position: 0px 0px;}
.jscont {border:5px #E6E6E6 solid;padding:0px;height:auto;float: left;width: 1080px;text-align: left;}
.jscont ul{list-style:none;color:#333333;font-size:12px;margin:10px 0px 0px 20px;}
.jscont li { padding-bottom:5px;}
.jscont input {height:12px;}
.jscont select{height:19px;width:80px;}
.jscont radio{margin-top:opx;}
#yhzhh{ margin-left:25px; font-size:14px;}
#yhzhh td {border-bottom:1px #e6e6e6 solid;padding:0px;padding-left:5px;line-height:180%;text-align: center;}
#js-productlist td {line-height: 180%;text-align: center;}
.jsbutton {width: 786px;float: left;height: 20px;}
#backcolor {background-color: #CCCCCC;}
.Financial {float: left;width:1100px;}
.Financial table {text-align: center;}
.Financial th {background-color: #CCCCCC;}
.Financial td {text-align: center;}
.Financialist {float: left;width: 870px;heiht: auto;height: 400px;}
.Financialist table {width:870px;border-top:1px solid #666666;color: #000000;}
.Financialist th {background-color: #CCCCCC;border-bottom: 1px solid #666666; border-right:1px solid #666666;}
.Financialist td {text-align: left;border-bottom: 1px solid #666666; border-right:1px solid #666666;text-indent: 5px;color: #000000;}
.cntLogistor {float: left;width: 600px;margin-left: 5px;}
.LogistorYd-title {height: 86px;width: 600px;float: left;}
.LogistorYd-title1 {float: left;height: 86px;width: 16px;}
.LogistorYd-title2 {background-image: url(../images/Logistics_02.gif);background-repeat: repeat-x;float: left;height: 86px;width: 568px;}
.LogistorYd-title2 table {line-height: 40px;height: 86px;}
.LogistorYd-title2 th {font-size: 18px;font-weight: bolder;}
.LogistorYd-title2 td {text-align: center;font-size: 14px;}
.LogistorYd-nr {float: left;width: 600px;height: 136px;margin-top: 4px;}
.LogistorYd-nr1 {float: left;height: 123px;width: 286px;background-image: url(../images/Logistics_04.gif);background-repeat: no-repeat;text-align: center;padding-top: 8px;padding-left: 7px;padding-right: 7px;}
.LogistorYd-nr1 table {line-height: 25px;height: 100px;}
.LogistorYd-nr1 td {text-align: center;border-right: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;}
#norightborder {border-right-width: 0px;border-right-style: none;}
.LogistorYd-list {float: left;width: 600px;margin-top: 5px;}
.LogistorYd-list1 {float: left;border: 10px solid #32CDBD;width: 280px;}
.LogistorYd-list1 th {border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;}
.LogistorYd-list1 td {border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;text-align: center;line-height: 23px;height: 23px;}
.LogistorYd-list2 {float: left;border: 10px solid #32CDBD;width: 280px;}
.LogistorYd-list2bt {width: 280px;border-bottom: 3px solid #666666;}
.LogistorYd-list2bt li {height: 17px;text-align: left;padding-left: 5px;padding-top: 5px;}
.logistorYd-list2nr {height: 180px;}
.logistorYd-list2nr td {line-height: 23px;text-align: center;border: 1px solid #CCCCCC;}
.LosistorYd-banner {float: left;width: 600px;margin-top: 5px;}
.ieme{isplay:inline;line-height:25px;	}
#textdj{text-align:left;}
#title{ font-size:14px;font-weight:bold;}
#pad40px{ padding-left:40px;}
.fasongxx {width: 1100px;float: left;margin-top: 20px;height: auto; text-align:left;}
.fasongxx td{text-align:left;}
.chongzlist{margin-bottom:5px;width:1100px;}
.chongzbt{ color:#CC0000; font-size:14px; font-weight:bold; line-height:30px; width:1090px;}
.chongzss{height:30px;float:left;padding-left:10px;text-align:left;width: 1000px;}
.input1{height: 14px;width: 70px;}
.select1{height: 20px;width: 70px;}
/*新加样式0909*/
.pl-tc{ width:340px; margin:0 auto;}
.pl-tc .l1{ background-image:url(../images/tc_01.gif); background-repeat:repeat; line-height:35px; width:310px; text-align:right; padding-right:30px; color:#FFF; font-weight:bold;}
.pl-tc .l1 a:{ color:#FFFFFF;}
.pl-tc .l1 a:hover{ color:#FFF;}
.pl-tc .l1 a:visited{ color:#FFF;}
.pl-tc .l2{ background-image:url(../images/tc_02.gif); background-repeat:repeat-y;}
.pl-tc .l3{ background-image:url(../images/tc_03.gif); background-repeat:no-repeat; height:10px;}
/*0910*/
.input1{ height:14px; width:80px;}
.select{ height:20px; width:80px;}
/*0924*/
.title{ line-height:30px; text-align:left;padding-left:10px; font-weight:bold; font-size:14px;}
.title ul{ list-style-image:none; list-style-type:none; margin:0px; padding:0px;}
.title li{ width:500px; float:left; list-style-image:none; list-style-type:none; margin:0px; padding:0px;}
.line{border-bottom:1px solid #4D867D;}
.center{ text-align:center;}
.tan {height: auto;width: 720px;margin-right: auto;margin-left: auto;}
.tan1 {background-image: url(../images/tc.jpg);background-repeat: repeat-x;height: 30px;line-height: 30px;text-align: left; padding-left:20px; font-size:14px; color:#FFFFFF; font-weight:bold; z-index:100;}
.tan2{ border:1px solid #3465AC; background-color:#E8E9E7; padding:10px;}
.tan2 select{ width:130px;}
.tan2 input{ width:80px;}
.tan2 li{ text-align:left;line-height:30px; display:block;}

.tanjy {height: auto;width: 300px;margin-right: auto;margin-left: auto;}
.tanjy1 {background-image: url(../images/tc.jpg);background-repeat: repeat-x;height: 30px;line-height: 30px;text-align: right; padding-right:20px; font-size:14px; color:#FFFFFF; font-weight:bold; z-index:100;}
.tanjy2{ border:1px solid #3465AC; background-color:#E8E9E7; padding:10px;}
.tanjy2 li{ text-align:left;line-height:30px; display:block;}
.input150{ width:150px;}
.select150{ width:150px;}
.bjceng{ width:250px; background-color:#CCCCCC; margin:0 auto; height:100px; padding:10px;}
.bjceng ul, li{ list-style-image:none; list-style-type:none; margin:0px; padding:0px;}
.bjceng li{ line-height:30px;}
.cksj{height:100px; text-align:center; padding-top:100px;}

/*gift relation*/
.relain{ text-align:left; margin-bottom:10px; }
.relain li{ float:left; padding:5px 0px;}
.relain .liw{ width:85px; padding-left:10px;}
.relaintit{ line-height:25px; padding-left:10px; text-align:left; background:#e8e8e8;font-weight:bold;}
.relaincon{padding:7px 5px 7px 10px; text-align:left;width:1100px;}
.relaincon ul{ float:left;}
.relaincon .ul1{ width:200px;}
.relaincon .ul2{ width:400px;}
.relain2{ padding:0px 0px 0px 10px; text-align:left;}
.relatab {border-bottom:1px solid #4D867D; border-left:1px solid #4D867D;}
.relatab td {text-align: center;border-top:1px solid #4D897D;border-right:1px solid #4D897D;}

.relaoper {height: 260px;width: 1000px;padding-left: 20px;padding-top: 5px;}
.relaoper li {float: left;width: 400px;margin-right: 20px;height: 190px;margin-top: 10px;text-align: center;}
#relaoperbt1 {height: 22px;padding-top: 8px;font-weight: bold;color: #000000;}
#relaoperborder {border: 1px solid #999999; padding-left:5px;}
.relaoperstyle {display: block;text-align: center;}
.relaoperstyle input{ width:45px;}
#listwap{height:1150px;}
#listwap .cntprochoose {text-align: left;height: 30px;padding-left: 0px; width:1090px; float:left;}
.cntprocontnr_a {float: left;height: 300px;width: 1066px;padding-left: 20px;padding-top: 15px;}
.cntprocontnr_a li {float: left;width: 418px;margin-right: 20px;height: 210px;margin-top: 10px;text-align: center;}
